.container-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-secondary-color);
}

.row-hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }


h7.hero {
    color: var(--main-color);
    font-size: 20x;
    font-weight: lighter;
}

h1.hero {
    color: var(--text-primary-color);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
    font-weight: lighter;
}

p.hero {
    color: var(--text-secondary-color);
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 20px;
}

.hero-img {
    display: inline-block;
    background-image: url(/images/hero/home-infotechno-main-slider-slide-01-image-01.png);
    background-repeat: no-repeat;
    background-color: var(--bg-secondary-color);
    position: relative;
    background-size: auto;
}

.hero-img-2 {
    width: 100%;
    height: 100%;
    max-width: 706px;
    max-height: 746px;
}

@media (max-width: 990px) {
    .container-hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    }
    .hero-img-2 {
        width: 70%;
        height: 70%;
    }
    h1.hero {
        font-size: 35px;
    }
}

@media (max-width: 550px) {
    h1.hero {
        font-size: 25px;
    }
    .hero-img-2 {
        width: 50%;
        height: 50%;
    }
}
