.service-card{
    display: inline-block;
    /* width: 300px; */
    /* height: 320px; */
    text-align: center;
    border-radius: 4px;
    /* box-shadow: 3px 5px 5px lightgray; */
}

.s-card-image{
    padding: 50px;
    display: block;
    margin: auto;
   }

.s-card-text{
    margin: 20px 30px 30px 30px;
}
.s-card-text > h4{
    font-size: 20px;
    padding-bottom: 15px;
}
.s-card-text > p{
    line-height: 25px;
    color: #696969;
    font-family: "CerebriSans";
    font-size: 12px;
    font-style: ;
    font-weight: 100;

}

.s-card-arrow >.btn-round{
    position: relative;
    

}