@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-ExtraBold.ttf);
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-Medium.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CerebriSans";
  src: url(../../fonts/cerebrisans/CerebriSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  /* text colors */
  --main-color: #086ad8;
  --secondary-color: #d2a98e;
  --accent-color: #ababab;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 460d5e5f7d57c593366f2c2fa04c32c6bf5cd901
  --text-primary-color: #333333;
  --text-secondary-color: #696969;
  --text-tertiary-color: #002fa6;
  /* background colors  */
  --bg-main-color: #fff;
  --bg-secondary-color: #f4efe9;
  --bg-very-light-color: #f8f8f8;
  --bg-very-light-secondary-color: #f6f2ed;
  --bg-contact-section: #eff2f6;
<<<<<<< HEAD
=======
>>>>>>> 15d13bf3a7740ee3925b9a35559e68b570760501
=======
>>>>>>> 460d5e5f7d57c593366f2c2fa04c32c6bf5cd901
}
